<p>Hello there!</p>

<p>You can learn more about me from any of the links below.</p>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-file fa-lg main-list-item-icon"></span>
    <a href="{{ site.baseurl }}/assets/resume.pdf">Resumé</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/melinysh">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/melinysh">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://ca.linkedin.com/in/stephen-melinyshyn-939319100">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:stephen.melinyshyn@gmail.com">Email</a>
  </li>
</ul>

<hr>

<p>Not interested? Check out a random classmate's <a href="http://arashrai.com:5000/randomSEwebsite?omit=Stephen">website</a>.</p>
