<p>Hello there!</p>

<p>You can learn more about me from any of the links below.</p>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-file fa-lg main-list-item-icon"></span>
    <a href="{{ site.baseurl }}/assets/resume.pdf">Resumé</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/melinysh">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/melinysh">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://ca.linkedin.com/in/stephen-melinyshyn-939319100">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="mailto:stephen.melinyshyn@gmail.com">Email</a>
  </li>
</ul>

<hr>

<p>Not interested? Check out a random classmate's <a id="randomse" href="">website</a>.</p>
<script type="text/javascript">
  (function(){
    const frens = [
      "http://arashrai.com",
      "http://jameshageman.com",
      "http://mattdsouza.com",
      "http://hollyoegema.com",
      "http://georgeutsin.com/",
      "http://spencerdobrik.com/",
      "http://www.ryan-martin.ca/",
      "http://dentonliu.com/",
      "http://stanhuan.com/",
      "http://prilik.com/",
      "http://kpeng.ca/",
      "http://tnychka.me",
    ];
    document.getElementById("randomse").href = frens[Math.floor((Math.random() * frens.length))];
  })();
</script>

